.all-tables {
    padding: 20px;
    display: table;
    text-align: center;
    margin: 30px auto auto;
    background-color: #000000;
    box-shadow: 0 0 10px 1px goldenrod;
}

.graph-data td > svg {
    padding: 20px;
    border-radius: 20%;
    background-color: #ffde21;
    box-shadow: 0 0 30px 0 goldenrod;
}

.graph-data td > form {
    margin-left: 50px;
    border-radius:   7%;
    background-color: #ffde21;
    box-shadow: 0 0 30px 0 goldenrod;
    padding: 25px 25px 20px 25px;
}

.table-check {
    color: white;
    max-width: 80%;
    margin: 20px auto;
    border: 1px solid gold;
    background-color: black;
    box-shadow: 0 0 30px 0 goldenrod;
}

.table-intro {
    color: white;
    max-width: 80%;
    margin: 30px auto;
    border: 1px solid gold;
    background-color: black;
    box-shadow: 0 0 30px 0 goldenrod;
    text-align: center;
    padding: 16px;
    font-size: 20px;
}

.table-header > th {
    padding: 20px;
    font-size: 20px;
    font-weight: lighter;
}

.table-row > td {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.table-row:nth-of-type(odd){
    margin: 0;
    background-color: #1f1f1f;
}

.x-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.x-button {
    transition: 0.00000001ms;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1px 5px;
    cursor: pointer;
    font-size: 16px;
}

.x-b {
    background-color: #ffde21;
    color: black;
    border: 0px #ffde21;
    padding: 0px 0px;
    cursor: pointer;
    font-size: 16px;
}

.Y-text-input,
.R-radio {
    margin-top: 10px;
}

.R-radio label {
    margin-right: 10px;
}

#coordinates-form label > input{
    margin: 5px;
    text-align: center;
}